h1 {
  font-size: 3rem;
  text-align: center;
}
.hero_span {
  font-size: 1rem;
}
.hero_subtitle {
  text-align: center;
}
#hero {
  border-bottom: 1px solid $blue-100;
  padding-bottom: 3rem;
  a {
    color: white;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  #hero {
    height: calc(100vh - 56px);
  }
  .hero_container {
    height: 100%;
    display: grid;
    place-items: center;
  }
  h1 {
    font-size: 5rem;
    text-align: left;
  }
  .hero_subtitle {
    font-size: 1.5rem;
    text-align: left;
  }
  .hero_span {
    font-size: 1.25rem;
  }
}
