h1 {
  font-size: 1.5rem;
}
.hero_span {
  font-size: 1.125rem;
}
#hero {
  border-bottom: 1px solid $blue-100;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  #hero {
    height: calc(100vh - 56px);
  }
  .hero_container {
    height: 100%;
    display: grid;
    place-items: center;
  }
  h1,
  .hero_span,
  .hero_subtitle {
    font-size: 2.25rem;
  }
}
