.project_links {
  color: #0958cd;
}

.projects_blob {
  position: absolute;
}
#projects {
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .projects_blob_1 {
    right: -10%;
    opacity: 50%;
    z-index: -10;
  }
  .projects_blob_2 {
    left: -10%;
    bottom: 10%;
    opacity: 50%;
    z-index: -10;
  }
}
